@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root{
  --theme: #FF6B6B;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227,227,227,0.75);
  
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font-family: "Montserrat", sans-serif;
}
.custom-input {
  border: 0px;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 0;
}
.custom-input {
  margin-top: -1rem !important;
}
.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}
.input-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}

.input-flex input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
}

.input-flex input:focus {
  outline: none;
}

.select-input {
  width: 30%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem !important;
  padding: 0.2rem 0.5rem;
}

.select-input > div {
  border: 0px solid #fff !important;
}


.spinner-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(255,255,255,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #eee;
  border-top: 8px solid #4f46e5; /* Use your theme color */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
